/* src/css/style.css */
.App {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre le contenu verticalement */
    align-items: center; /* Centre le contenu horizontalement */
    height: 100vh; /* Hauteur complète de la fenêtre */
    text-align: center; /* Centre le texte à l'intérieur des éléments */

}

h1, p {
    font-size: 3.5em;
    color: #e8088f;
}

